@charset "utf-8";
body ul {
	display: inline;
	text-align: right;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: oblique;
	font-variant: normal;
	color: #000000;
	text-decoration: underline;
	font-size: x-large;
	margin-left: 40px
		
}
#ANNOUNCEMENTS p {
	text-align: center;
	font-size: large;
	color: #000000;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#ANNOUNCEMENTS h2 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #000000;
	text-decoration: underline;
	text-align: center;
}
#TABLE td {
	color: #000000;
	text-align: right;
	margin-left: 40px;
	font-size: x-large;
	border-width: 8px;
	border-color: #000000;
}
h2 {
	color: #020202;
	text-align: center;
	right: 20px;
	margin-left: 30px;
}
body img {
	margin-top: 50px;
	margin-right: 100px;
}
body h1 {
	text-align: center;
	color: #000000;
	text-decoration: underline;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#table {
	top: 100px;

}
image {
	right: 0px;
}
tr td p {
	font-size: large;
}
body h2 {
	text-align: left;
}
#whocanplay {
	font-size: x-large;
}
p {
	font-size: large;
}
p img {
	text-align: left;

}
#ANNOUNCEMENTS p img {
	text-align: left;

}
body h3 {

}
h3 {
	text-decoration: underline;
	font-size: x-large;
	text-align: left;
}
body div {
	text-align: left;
	font-size: large;
}
body div p {
	font-size: large;
	text-align: left;
}
#about p {


}



p {
	font-size: large;
}
h5 {
	font-size: x-large;
	text-decoration: underline;
}
sign up h1 {
	font-size: large;
}
body h1 {
}
